services:
  # Static Site dengan API
  - type: web
    name: lapakbangade
    runtime: node
    env: node
    region: singapore
    plan: free
    buildCommand: npm install && cd build && npm install && npm run build && cd ..
    # Serve static files dan handle API endpoint
    startCommand: node server.js
    envVars:
      - key: NODE_VERSION
        value: 20
      - key: EXCHANGE_RATE_API_KEY
        sync: false
    routes:
      - type: rewrite
        source: /api/*
        destination: /api/:splat
      - type: rewrite
        source: /*
        destination: /index.html
